.projectss-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  row-gap: 1rem;
}

.projectss-left-titles {
  font-size: 2rem;
  color: var(--primary-color);
}

.projectss-left-paragraph {
  line-height: 1.2rem;
  text-align: right;
  width: 90%;
  color: rgb(23, 31, 58);
}

.projectss-left-tech {
  display: flex;
  column-gap: 2rem;
  font-size: 0.9rem;
  color: rgb(23, 31, 58);
}

.projectss-left-tech span {
  font-weight: 700;
}
