.projectss-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 1rem;
}

@media only screen and (max-width: 600px) {
  .projectss-right {
    align-items: center;
  }
}
.projectss-right-titles {
  font-size: 2rem;
  color: rgb(23, 31, 58);
}

.projectss-right-paragraph {
  line-height: 1.2rem;
  text-align: left;
  width: 90%;
  color: rgb(23, 31, 58);
}
@media only screen and (max-width: 1200px) {
  .projectss-right-paragraph {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media only screen and (max-width: 900px) {
  .projectss-right-paragraph {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .projectss-right-paragraph {
    font-size: 1.5rem;
    line-height: 1.7rem;
    text-align: center;
  }
}

.projectss-right-tech {
  display: flex;
  column-gap: 2rem;
  font-size: 0.9rem;
  color: rgb(23, 31, 58);
}
@media only screen and (max-width: 1200px) {
  .projectss-right-tech {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 900px) {
  .projectss-right-tech {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 600px) {
  .projectss-right-tech {
    font-size: 1.2rem;
  }
}

.projectss-right-tech span {
  font-weight: 700;
}
