.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  row-gap: 4rem;
}

.projects-title {
  font-size: 3.5rem;
}

.projects-content-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-content-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
